@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<body style="background-color:#f9f7f4;color:#3544b1;font-family:Lato,Helvetica,Arial,sans-serif;">
	<div style="width:200px;height:100px;position:absolute;left:50%;top:50%;margin-left:-100px;margin-top:-50px;">
		<h1>@Model.Name</h1>
		<p>@Model.WelcomeText</p>
	</div>
</body>